header {
    background-color: rgb(7, 55, 39);
    display: flex;
    justify-content: space-between;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    background-color: rgb(7, 55, 39);
    text-transform: uppercase;
    
}

.primerEstillo {
    text-transform: uppercase;
    background-color: bisque;
}

.parrafo {
    text-transform: none;
}



